/*--<>-----BODY-----<>--*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: 	#0A1930;
}

h1{
    margin-top: 1em;
    text-align: center;
    color: #C7D2F1;
    margin-bottom: 1em;
}

.container_profile {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.container_profile h2 {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: left;
    margin-left: 1.2em;
    color: #C7D2F1;
    font-size: 1.7em;
    margin-top: 1.5em;
}

.container_profile p {
    margin: 1.5em;
    text-align: left;
    font-weight: 600;
    padding: 1em;
    font-size: 1.2em;
    width: 20em;
    color: 	#C7D2F1;
    margin-top: 1.5em;
    transition: opacity 0.3s;
    background: transparent;
    transition: background 0s;
    border: solid 2px transparent;
    /* border-left: solid #C7D2F1; */
}

.container_profile p:hover {
    background: rgba(241, 241, 241, 0.04); 
    transition: background 0.5s;
    border: 2px solid #C7D2F1;
    /* border: 2px solid rgba(102, 102, 102, 1); */
    border-radius: 0.5em;
    box-shadow:  0.1em 0.1em 1em #C7D2F1;
    opacity: 1; /* Laissez le texte avec une opacité complète */
}

.container_competences {
    display: flex; /* Utilisez flexbox */
    flex-direction: row-reverse; /* Inversez la direction des éléments */
    align-items: center; /* Centrez les éléments verticalement */
}

.container_competences h2 {
    flex: 1; /* Permet au titre de prendre autant d'espace que nécessaire */
    text-align: center; /* Alignez le texte du titre à droite */
}

#competences {
    flex: 1; /* Permet au texte de prendre autant d'espace que nécessaire */
}

.container_competences p {
    margin: 1.5em;
    text-align: left;
    font-weight: 600;
    padding: 1em;
    font-size: 1.2em;
    width: 20em;
    color: 	#C7D2F1;
    margin-top: 3em;
    transition: opacity 0.3s;
    background: transparent;
    transition: background 0s;
    border: solid 2px transparent;
    /* border-right: solid #C7D2F1; */
}

.container_competences p:hover {
    background: rgba(241, 241, 241, 0.04); 
    transition: background 0.5s;
    border: 2px solid rgba(102, 102, 102, 1);
    border-radius: 0.5em;
    opacity: 1; /* Laissez le texte avec une opacité complète */
}

/*@keyframes progress-animation {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
} */

/*--<>-----RESPONSIVE-----<>--*/

/* @media screen and (max-width: 600px) {
    h1{
        text-align: center;
        color: aliceblue;
        font-size: 1.5em;
        animation: matrix-effect 300ms forwards;
    }
} */

/* @media screen and (max-width: 950px) {
    .container_progress_bar {
        display: flex;
        flex-direction: column;
    }
} */
/*OTHERS*/
*::-webkit-scrollbar {
	width: 13px;
}

/* .container_progress_bar {
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    font-size: 1.4em;
    color: white;
    border: solid green;
    border-radius: 2em;
    box-shadow:  0.1em 0.1em 1em #00FF00;
    margin-top: 3em;
} */

/* .progress_bar {
    width: 400px;
    height: 20px;
    background-color: black;
    border: 2px solid green;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
} */


/* p {
    text-align: left;
    font-weight: 600;
    padding: 1.2em;
    font-size: 1.2em;
    color: 	#C7D2F1;
    margin-top: 3em;
    background: linear-gradient(rgba(10, 25, 48, 0), rgba(10, 25, 48, 0.6));
    background-color: rgba(10, 25, 48, 1);  Couleur de fond sans transparence 
    border: 3px solid rgba(10, 25, 48, 1);  Bordure sans transparence
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 1em rgba(10, 25, 48, 1); Ombre sans transparence 
    padding: 1.5em;
    transition: background-color 0.3s, border-color 0.3s;  Ajoutez une transition en douceur 
} */