h3 {
    font-size: 1.2em;
    text-align: center;
    color: #C7D2F1;
    margin-bottom: -1em;
}
.container_social {
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
}

.container_social a {
    padding: 0.2em;
    margin: 0.5em;
    font-size: 2em;
    color: #C7D2F1;
    border: solid 2px transparent;
}

.container_social a:hover{
    background: rgba(241, 241, 241, 0.1); 
    transition: background 0.5s;
    border: 2px solid rgba(102, 102, 102, 1);
    border-radius: 3em;
}

footer{
    margin-top: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
    /* background: rgba(241, 241, 241, 0.04);  */
    /* background-color: 	#0A1930; */
}

#contact{
    text-decoration: none;
}
