/*--<>-----HEADER-----<>--*/

.header {
    background-color: #0A1930;
    height: 8em;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em;
    z-index: 1;
}

.header_logo img {
    max-width: 10em;
    max-height: 6em;
    border: solid #0A1930;
    border-radius: 4em;
}

.header_nav_menu {
    padding: 0;
    margin: 0;
    gap: 5em;
    list-style: none;
    display: flex;
    align-items: center;
}

.header_nav_menu_link {
    margin-right: 0.5em;
}

.header_nav_menu_link:last-of-type{
    /* margin-right: initial; */
    margin-right: 2em;
}

.header_nav_menu_link a{
    color: #C4D1F0;
    /* font-family: monospace; */
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

.header_nav_menu_link a:after{
    content: '';
    height: 0.1em;
    background-color: #C4D1F0;
    width: 0;
    position: absolute;
    bottom: -.1em;
    right: 0;
    transition: 0.2s all ease-in-out;
}

.header_nav_menu_link a:hover:after{
    width: 100%;
    left: 0;
}

.header_burger {
    display: none;
}

.header_burger svg{
    stroke: #C4D1F0;
    width: 4em;
    height: 4em;
}

.header_nav_close {
    display: none;
}

/*--<>-----RESPONSIVE-----<>--*/

@media screen and (max-width: 800px) {
    .header_burger {
        display: block;
        cursor: pointer;
    }

    .header_burger svg {
        stroke: #C4D1F0;
        width: 3.5em;
    }

    .header_nav {
        position: fixed;
        top:0;
        right: 0;
        width: 12em;
        height: 100%;
        display: flex;
        justify-content: center;
        box-shadow:  0.1em 0.1em 1em #C4D1F0;
        display: none;
    }

    h1{
        text-align: center;
        color: aliceblue;
        /* animation: matrix-effect 300ms forwards; */
    }

    .header_nav.open {
        display: flex;
        animation: transformMenu 400ms ease-in-out forwards;
    }

    @keyframes transformMenu {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: initial;
        }
    }

    .header_logo img {
        max-width: 4em;
        max-height: 4em;
        border: solid  0.1em 0.1em 1em #C4D1F0;
        border-radius: 4em;
        box-shadow:  0.1em 0.1em 1em #C4D1F0;
    }

    .header_nav_menu {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5em;
    }

    .header_nav_menu_link {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .header_nav_menu_link a{
        font-size: 1.1em;
        margin-bottom: 5em;
    }

    .header_nav_close  {
        display: block;
        cursor: pointer;
    }

    .header_nav_close svg {
        stroke: #C4D1F0;
        width: 2em;
        height: 2em;
        position: absolute;
        top:16px;
        right: 16px;
    }

    .overlay_menu_mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        /* background-color: rgba(white, white, white, 0.6); */
    }

    .overlay_menu_mobile.open {
        display: block;
        /* background-color: rgba(white, white, white, 0.6); */
    }
}