body{
    margin: 0;
    padding: 0;
}

canvas {
    width: 100%; /* Remplit complètement l'élément parent */
    height: 100%; /* Remplit complètement l'élément parent */
}

.container_canvas{
    height: 6em;
}

#matrix_canvas{
    height: 15em;
    /* animation: matrix-effect 1000ms forwards;
    animation-iteration-count: infinite; */
    z-index: 1;
}

@media screen and (max-width: 850px) {

    #matrix_canvas{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        border-radius: 2em;
        border: solid #0e0e0e3d;
        border-width: 1.5em;
        box-shadow:  0.1em 0.1em 1em #0E0E0E;
        width: 70%;
        height: 40%;
        z-index: -1;
    }
}


/* @media screen and (max-width: 500px) {

    #matrix_canvas{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        border-radius: 2em;
        border: solid #0e0e0e3d;
        border-width: 1.5em;
        box-shadow:  0.1em 0.1em 1em #0E0E0E;
        width: 40%;
        height: 100%;
        z-index: -1;
    }
} */
        /* background-color: #0E0E0E; */
/* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */